*{
	box-sizing: border-box;
}
body{
}
.body{
	background-image: url(../images/img/fondoLogin.svg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: absolute;
	display: table;

}
.body{
	background-image: url(../images/img/fondoLogin.svg);
	height: 100vh;
	overflow: hidden;
}
.contenTodo{
	position: relative;
	display: table-cell;
	vertical-align: middle;
}
.user-img img{
	width: 100px;
	margin-top: -50px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 5px #B5C9FA;
	border-radius: 50%;
}
.main-section{

}

.model-content{
	background-color: rgb(26, 95, 226, .6);
	padding:0 20px 4px 20px;
	border-radius: 15px;
	box-shadow: 0px 0px 3px #fff;
	width: 410px;
	position: relative;
	margin: auto;
}

.form-group input{
	height: 40px;
	font-size: 17px;
	border:0;
	top: 10px;
	position: relative;
	border-radius: 5px;
}
button{
	width: 50%;
	padding: 0 25px;
	position: relative;
	top: 20px;
	box-shadow: 0 0 2px #fff;
}
.borrar{
	width: auto;
padding: 0;
position: relative;
top: 0;
box-shadow: 0 0 2px #fff0;
color: transparent;
background: transparent;
border: transparent;
}
button.borrar:focus {
    border: transparent;
    box-shadow: none;
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

.sombra{
	display: table;
	width: 100%;
	background-color: rgb(0,0,0,.3);
	position: relative;
	top: 5px;
	box-shadow: 0 0 3px #fff;
	border-radius: 5px;
	width: 410px;
	margin: auto;
}
.abajo{
	margin-top: 10px;
	font-size: 13px;
	color: white;
	transition: all 500ms ease;
	float: left;
}

.abajo a{
	color: white;
	transition: all 500ms ease;
	position: relative;
}
.abajo a::after{
	content: '';
	position: relative;
	width: 100%;
	padding: 1px;
	opacity: 0;
}
.abajo a::after{
	position: absolute;
	bottom: 0;
	width: 0%;
	background-color: white;
	left: 50%;
	transition: all 500ms ease;
}
.abajo a:hover:after{
	width: 100%;
	left: 0;
	opacity: 1;
}
.abajo a:hover{
	color: white;
	text-decoration: none;
	margin-top: 10px;
}

.separador{
	margin-top: 60px;
	color:white;
}
.separador h1{
	padding: 10px;
}
.separador::before{
	content: "";
	position: relative;
	width: 100%;
}
.separador::before{
	background-color: white;
	position: absolute;
	padding: 1px;
	width: 90%;
	margin:auto;
	left: 20px;
}

/*     Recuperar contraseña    */
.password{
	top: -5%;
}
form h1{
	color:white;
	font-size: 30px;
}
form p{
	color:white;
	font-size: 20px;
	padding: 15px;
}
/*     Primer Registro     */
.registro{
	background-color: rgb(26, 95, 226, .6);
	padding:0 20px 4px 20px;
	border-radius: 15px;
	box-shadow: 0px 0px 3px #fff;
	position: relative;
	top: -50px;
}
/*        Segundo registro      */

.contentRegistro2{
	width: 700px;
}
.mainRegistro2{
	margin-top: 20%;
	background-color: rgb(250,250,250, .2);
	padding:5px 10px 30px 10px;
	border-radius: 15px;
}
.Cards{
	display: flex;
	justify-content: center;
	top: 30px;
}
.tarjeta{
	margin: 0 20px;
	width: 350px;
	border-radius: 50%;
	padding: 10px;
	box-shadow: 0 0 5px #fff;
	opacity: .9;
}
.centro{
	background-color: rgb(26, 95, 226, .5);
	padding: 10px 20px 30px 20px;
	border-radius: 15px;
	box-shadow: 0px 0px 3px #fff;
	width: 800px;
	position: relative;
	margin: auto;
}
.centro h1{
	font-size: 50px;
	text-shadow:0 0 1px #fff;

}
.registro2{
	margin-top:0;
	position: relative;
	padding: 0;
}
