*{	
	box-sizing: border-box;
}
body{
}
.body{
	background-image: url(../images/img/fondoLogin.svg);
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.contenTodo{
	position: relative;
}
.user-img img{
	width: 100px;
	margin-top: -50px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 5px #B5C9FA;
	border-radius: 50%;
}
.main-section{

}

.model-content{
	background-color: rgb(26, 95, 226, .6);
	padding:0 20px 4px 20px;
	border-radius: 15px;
	box-shadow: 0px 0px 3px #fff;
	width: 410px;
	position: relative;
	margin: auto;
}

.form-group input{
	height: 40px;
	font-size: 17px;
	border:0;
	top: 10px;
	position: relative;
	border-radius: 5px;
}
button{
	width: 50%;
	padding: 0 25px;
	position: relative;
	top: 20px;
	box-shadow: 0 0 2px #fff;
}
.sombra{
	display: table;
	width: 100%;
	background-color: rgb(0,0,0,.3);
	position: relative;
	top: 5px;
	box-shadow: 0 0 3px #fff;
	border-radius: 5px;
	width: 410px;
	margin: auto;
}
.abajo{
	margin-top: 10px; 
	font-size: 13px;
	color: white;
	transition: all 500ms ease;
	float: left;
}

.abajo a{
	color: white;
	transition: all 500ms ease;
	position: relative;
}
.abajo a::after{
	content: '';
	position: relative;
	width: 100%;
	padding: 1px;
	opacity: 0;
}
.abajo a::after{
	position: absolute;
	bottom: 0;
	width: 0%;
	background-color: white;
	left: 50%;
	transition: all 500ms ease;
}
.abajo a:hover:after{
	width: 100%;
	left: 0;
	opacity: 1;
}
.abajo a:hover{
	color: white;
	text-decoration: none;
	margin-top: 10px;
}

.separador{
	margin-top: 60px;
	color:white;
}
.separador h1{
	padding: 10px;
}
.separador::before{
	content: "";
	position: relative;
	width: 100%;
}
.separador::before{
	background-color: white;
	position: absolute;
	padding: 1px;
	width: 90%;
	margin:auto;
	left: 20px;
}

/*     Recuperar contraseña    */
.password{
	top: -5%;
}
form h1{
	color:white;
	font-size: 30px;
}
form p{
	color:white;
	font-size: 20px;
	padding: 15px;
}

/*         Estilos para los roles             */


.registro2{
	background-color: rgb(26, 95, 226, .5);
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0px 0px 3px #fff;
	width: 800px;
}
.registro2 h1{
	font-size: 50px;
	text-shadow:0 0 1px #fff;
}
.tarjetas{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
}
.rol{
	width: 350px;
	padding: 10px;
	border-radius: 50%;
	position: relative;
}
.rol ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.rol1{
	display: block;
	width: 100%;
	position: relative;
}

.rol ul li button{
	position: relative;
	width: 100%;
	padding: 0;
	border: 1px solid #fff;
	border-radius: 50%;
	opacity: .9;
	outline: none;
}
.rol ul li button::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 5px solid rgb(250,250,250);
	border-radius: 50%;
	transform: scale(0);
	opacity: 0;
	transition: all 500ms ease;
}
.rol ul li button:hover:before{
	transform: scale(1.08);
	opacity: 1;
	padding: 10px;
}